body{
	background-color: rgb(157 201 222);
}

#header{

	background-color: white}

#head{

	font-family: "Lobster", cursive;
	text-align: center;

}

.img{

	display:block;
	width: 1322px;
    height: 900px;
    border-style: solid;
    border-color: white;
}

.bot{
	background-color: rgb(96, 125, 139);
	color: white;
	margin-top:-5px;
	margin-bottom: 10px; 
	padding: 10px;
	border-style: solid;
    border-color: white;
    width: 1302px;
}